body {
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color:rgb(204, 200, 200);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    height: 399px;
    width: 432px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 20px;
}
p {
    color: #000000;
    align-self: center;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 20px;
    
}
.btn-1 {
    background-color: #ED6755 ;
    height: 55px;
    width: 50%;
    border-radius: 5px;
    border:#ffffff;
    color: #ffffff;
    transition: 1s;
    cursor: pointer;
    margin-bottom: 50px;
    box-shadow: 0 10px 20px rgba(167, 75, 75, 0.78);
    font-size: 18px;
    
}
.btn-1:hover {
    background-image: url(img/handcool.jpg);
    background-size:contain;
    color: rgb(240, 142, 13);
    font-size: 22px;
    
}
.close {
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    align-self: flex-end;
    border: none;
    background-color: #ffffff;
    font-size: 40px;
    color: rgba(211, 204, 204, 0.925);
    cursor: pointer;
}
.btn-2 {
    background-color: #0c3a67;
    margin-top: 30px;
    box-shadow: 0 10px 20px rgba(83, 77, 202, 0.78);

}
.btn-2:hover {
    background-image: url(img/haunter.jpg);
    background-size: cover;
    color: #060606;
    font-size: 22px;
}

.p-2 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
    align-self: center;
    font-size: 25px;
    
}
.img-frame {
    margin-bottom: 20px;
}